<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button [routerLink]="['/trash']">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
      </ion-buttons>
    <ion-title>
      Favoritos
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button [routerLink]="['/adding']">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let coin of Moedas" >
        <div class="foto">
                <img src="{{'../../assets/' + coin.getNome() + '.png'}}"> 
                <!--ESSA PORRA DE IMAGEM DINAMICA SRC -->
            </div>

            <ion-card-header>
                <ion-card-title>
                    {{coin.getNome()}}
                    <div class="money">
                        <B>{{coin.getValor()}} <sup>USD</sup></B>
                    </div>
                </ion-card-title>
            </ion-card-header>
            <ion-card-subtitle>
                {{coin.getSigla()}}
            </ion-card-subtitle>
        </ion-card>
</ion-content>
