<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button text="Início"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Perfil
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
    <ion-avatar>
        <img src="../../assets/foto_perfil.jpg">
      </ion-avatar>
          <ion-card-title>
              <div class="profile_name">
                <br>
                  Yu Yi Wang Xia
              </div>
          </ion-card-title>
          <ion-card-subtitle>
              <div class="profile_email">
                  <br>
                    yuyiwangxia@gmail.com
                </div>
          </ion-card-subtitle>
</ion-content>